.PublicLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.PublicLogo {
    height: 80px;
}

.CardContainer {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card {
    width: 345px;
}

.TextField {
    width: 100%;
}

.PannelContainer {
    margin: 10px;
}

.AddButtonContainer {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.EditButtonContainer {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.EditButton {
    margin: 5px;
}